<div class="container fast-update-container">
  <h1>Replace or Delete a URI</h1>

  <p>Replace one FAST URI with another across the entire repository, or scoped to a collection.</p>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <ul class="nav nav-tabs" id="fast-update-tabs" role="tablist">
      <li ><a aria-expanded="false" href="#fast-update-search-results-tab" role="tab" data-toggle="tab">Search Results</a></li>
      <li class="active"><a aria-expanded="true" href="#fast-update-changes-tab" role="tab" data-toggle="tab">Previous Changes</a></li>
    </ul>
    <div class="tab-content" id="fast-update-tabs-content">
      <div class="tab-pane" aria-labelled-by="fast-update-search-results-tab" id="fast-update-search-results-tab">
        <div class="col-md-12 fast-update-table-container">
          <div class="panel-body">
            <h2>Search Results</h2>
            <div class="table-responsive" id="documents">
              <%= render 'search_results' %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane active" aria-labelled-by="fast-update-changes-tab" id="fast-update-changes-tab">
        <div class="col-md-12 fast-update-table-container">
          <div class="panel-body">
            <h2 class="fast-update-past-changes">Previous Changes</h2>
            <% if @changes.any? %>
              <%= render 'changes_table'%>
            <% else %>
              <p>No changes to show.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
